
*{
  margin: 0;
  padding : 0px;
  box-sizing : border-box;
  align-items: center;
  vertical-align: middle;

  cursor: url(img/key.cur), default;

}

body{

  background: linear-gradient(
  90deg,
#ffccdf 0%,
#ffccdf 50%,
#ffacdf 50%,
#ffacdf 100%

)
  
}

#login-area{

  cursor: url(img/key.cur), default;

}

.title{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'PixelMplus10-Regular';
    font-size: 70px;
    color: #ff5a8f;
}

.boy,
.girl,
.key{
    height: 250px;
}

table{

text-align: center;
margin: auto;
padding-left: 0px;
width: 80%;
height: 80%;
border-collapse: separate;
border-spacing: 20px 20px;
/* border-spacing 横方向 縦方向 */

vertical-align: middle;
}

#pillow{

    width: 250px;
    text-align: center;

}

#message{

  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'PixelMplus10-Regular';
  font-size: 70px;
  color: #ff5a8f;

}

/* 枕が見えたり見えなかったり */